.InvalidInput {
  color: red;
  border: 1px solid red;
}

.DangerButton {
  background-color: maroon;
  color: white;
}

.Unnumbered {
  list-style: none;
}

.PolicyGraph {
  border: 1px solid grey;
  max-height: calc(0.8 * var(--minor-axis));
}
